In [1]:
import pandas as pd
import numpy as np

In [2]:
database_extraction_current_month_before_script = 'immo_uk_zoopla_2018_12.csv'
database_extraction_current_month_after_script = 'autobiz_December18_RealEstate_Database.xlsx'
correspondence_table = pd.read_excel('C:/Users/n.pertuizet/Desktop/IMMO UK/1812/2. Minisites inconnus\Correspondance table IMMO UK Decembre.xlsx')

In [3]:
db = pd.read_csv(database_extraction_current_month_before_script , delimiter = ';',encoding = 'latin9',error_bad_lines=False, dtype = {'outcode': str, 'incode': str, 'Phone 1': str, 'Phone 2':str} )
postcodes = pd.read_excel('C:/Users/n.pertuizet/Desktop/IMMO UK\postcodes.xlsx')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
correspondence_table_pivoted = pd.pivot_table(correspondence_table, values = ['Agent ID - External ID'], index = ['autobiz ID'], columns = ['Website'], aggfunc=len)
correspondence_table_pivoted = correspondence_table_pivoted.fillna('')
correspondence_table_pivoted.columns = correspondence_table_pivoted.columns.to_series().str.join(' ')
correspondence_table_pivoted = correspondence_table_pivoted.reset_index()

In [5]:
db.insert(1, 'Status', '')

In [6]:
db.insert(4, 'Nb of Zoopla ID', db['Autobiz ID'].map(correspondence_table_pivoted.set_index('autobiz ID')['Agent ID - External ID zoopla']))

In [7]:
db.loc[db['Zoopla ID'].isnull(),'Nb of Zoopla ID'] = db['Zoopla ID']

In [8]:
db.insert(6, 'Nb of OTM ID', db['Autobiz ID'].map(correspondence_table_pivoted.set_index('autobiz ID')['Agent ID - External ID onthemarket']))

In [9]:
db.loc[db['OTM ID'].isnull(),'Nb of OTM ID'] = db['OTM ID']

In [10]:
db.insert(8, 'Nb of RTM ID', db['Autobiz ID'].map(correspondence_table_pivoted.set_index('autobiz ID')['Agent ID - External ID rightmove']))

In [11]:
db.loc[db['Rightmove ID'].isnull(),'Nb of RTM ID'] = db['Rightmove ID']

In [12]:
db.insert(25, 'County 2', db['outcode'].map(postcodes.set_index('postcode')['region']))

In [13]:
db.loc[db['County'].isnull(),'County'] = db['County 2']

In [14]:
db = db.drop('County 2', 1)

In [15]:
db = db.fillna('')

In [16]:
db.loc[db['City'].str.contains('\('), 'County'] = 'Overseas'

In [17]:
def concat(row):
    if str(row['Zoopla ID']) != "":
        return str(row['Autobiz ID'])+'-'+ str(row['Zoopla ID'])
    else: return ""
db['Id A - Id Z']=db.apply(concat,axis=1)

In [18]:
db['Id A - Id Z'] = db['Id A - Id Z'].apply(lambda x: x.replace('.0',''))

In [19]:
db[['Branch name','Autobiz company name', 'Zoopla company name', 'group name', 'Network Name', 'Address 1','Address 2', 'City', 'County']] = db[['Branch name','Autobiz company name', 'Zoopla company name', 'group name', 'Network Name', 'Address 1','Address 2', 'City', 'County']].apply(lambda x: x.str.title())

In [20]:
db[['outcode','incode']] = db[['outcode','incode']].apply(lambda x: x.str.upper())

In [21]:
db[['Autobiz company ID', 'Autobiz group ID', 'Zoopla company ID']] = db[['Autobiz company ID', 'Autobiz group ID', 'Zoopla company ID']].replace({0: ''})

In [22]:
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Italie', 'Italy'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Greek', 'Greece'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Grece', 'Greece'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Espagne', 'Spain'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Suède', 'Sweden'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('États-Unis', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Usa', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Uas', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('United States Of America', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Andorre', 'Andorra'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('United States', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('California', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Swiss', 'Switzerland'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('États-Unis', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('United States', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Austrial', 'Australia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Australie', 'Australia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Gambie', 'Gambia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Barbade', 'Barbados'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Bulgaire', 'Bulgaria'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Bulgarie', 'Bulgaria'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Bugaria', 'Bulgaria'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Frence', 'France'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Grèce', 'Greece'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Inde', 'India'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Les Caraïbes', 'Caribbean'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Caraïbes', 'Caribbean'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Maroc', 'Morocco'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Nouvelle Zelande', 'New Zealand'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Zelande', 'New Zealand'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Slovenie', 'Slovenia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Suisse', 'Switzerland'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Bosnie-Herzégovine', 'Bosnia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Cambodge', 'Cambodia'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Cap-Vert', 'Cap Verde'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Chypre', 'Cyprus'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Emirats Arabes Unis', 'UAE'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Émirats Arabes Unis', 'UAE'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('España', 'Spain'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Etat Unis', 'USA'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Hongrie', 'Hungary'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Afrique Du Sud', 'South Africa'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Mointenegro', 'Montenegro'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Monténégro', 'Montenegro'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('New-Zélande', 'New Zealand'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Potugal', 'Portugal'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Spanish', 'Spain'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Sapin', 'Spain'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Thaïland', 'Thailand'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Uea', 'UAE'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Uae', 'UAE'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('United Arab Emirates', 'UAE'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Irland', 'Ireland'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Irlanda', 'Ireland'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Irlande', 'Ireland'))
db['City'] = db['City'].astype(str).apply(lambda x: x.replace('Irelande', 'Ireland'))

In [23]:
def remove_double_space(string):
        return string.replace('  ', ' ')

In [24]:
def remove_amp(string):
        return string.replace('Amp;', '')

In [25]:
def remove_apostrophe(string):
        return string.replace("'", '')

In [26]:
writer = pd.ExcelWriter(database_extraction_current_month_after_script, engine='xlsxwriter')
db.to_excel(writer, sheet_name='Sheet1', freeze_panes=(1,1), index = False)
correspondence_table.to_excel(writer, sheet_name='Correspondence Table', freeze_panes=(1,1), index = False)
writer.save()